<h2><%= @doctor.name %></h2>
<%= @doctor.department %><br><br>

<% @doctor.appointments.each do |a| %>
<%= a.appointment_datetime.strftime("%B %-d, %Y at %k:%M") %><br>

<%= link_to a.patient.name, patient_path(a.patient) %><br><br>

<% end %>

